/*====  RESET ============================ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

/*====  VARIABLES ============================ */
:root {
  --header-height: 4.5rem;

  /* colors */
  --hue: 159;
  /* HSL color mode */
  --brand-blue: #26477c;
  --hover-brand-blue: #0d3a83;
  --brand-blue-light: #47b2e6;
  --gray-paragraph: #384633;

  --title-color: hsl(var(--hue) 41% 10%);
  --text-color: hsl(0 0% 46%);
  --text-color-light: hsl(0 0% 98%);
  --body-color: #f7f7f7;

  /* fonts */
  --title-font: 4rem;
  --secondary: 2.4rem;
  --subtitle-font: 1.6rem;

  --title-font-size: 2rem;
  --secondary-font: 1rem;
  --subtitle-font-size: 1.2rem;

  --radius: 1rem;

  --margin: 2rem;
}

/*===  BASE ============================ */
html {
  scroll-behavior: smooth;
}

body {
  font: 400 1rem var(--body-font);
  color: var(--text-color);
  background: var(--body-color);
  font-family: "Poppins", sans-serif;
}

.title {
  font-size: var(--title-font-size);
  color: var(--brand-blue);
  margin-bottom: var(--margin);
}

/* header */
.header {
  color: var(--brand-blue);
}

.header h3 {
  margin-bottom: var(--margin);
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.2rem;
}

.header h1 {
  margin-bottom: var(--margin);
  font-size: var(--title-font-size);
}

.button {
  background-color: var(--brand-blue);
  color: var(--body-color);
  height: 3.4rem;
  display: inline-flex;
  align-items: center;
  padding: 0 2rem;
  border-radius: 1rem;
  font: 500 1rem var(--secondary-font);
  transition: background 0.3s;
  text-transform: uppercase;
}

.button:hover {
  background: var(--base-color-alt);
}

.divider-1 {
  height: 1px;
  background: linear-gradient(
    270deg,
    hsla(var(--hue), 36%, 57%, 1),
    hsla(var(--hue), 65%, 88%, 0.34)
  );
}

/*====  LAYOUT ============================ */
.wrapper {
  background-color: red;
  width: min(45rem, 100%);

  margin-left: 1.5rem;
  margin-inline: auto;

  padding-inline: 1.5rem;
}

.section {
  padding: calc(2rem + var(--header-height)) 0;
}

/* image */
.image {
  display: flex;
  justify-content: center;
}

.image img {
  width: 25rem;
}

#header {
  margin-bottom: 2rem;
  display: flex;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--body-color);
  width: 100%;
}

#header .logoazul {
  display: flex;
  width: 9rem;
}

#header.scroll {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
  background-color: var(--brand-blue);
}

#header.scroll .logoazul img {
  display: none;
}

#header .logo img {
  display: none;
}

#header.scroll .logo img {
  display: flex;
  width: 9rem;
}

#header.scroll .icon-menu {
  color: #ffffff;
}

/* icon-check */
.details-check li {
  display: flex;
  align-items: center;
  height: 3rem;
  gap: 1rem;
  color: var(--gray-paragraph);
  text-align: left;
}

.details-check img {
  width: 1.5rem;
  height: 1.5rem;
}

/* paragraph */
.paragraph {
  color: var(--gray-paragraph);
  margin-bottom: var(--margin);
}

/*====  NAVIGATION ============================ */
nav {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

nav ul li {
  text-align: center;
}

nav ul li a {
  transition: color 0.2s;
  position: relative;
}

nav ul li a:hover,
nav ul li a.active {
  color: var(--body-color);
}

nav ul li a::after {
  content: "";
  width: 0%;
  height: 2px;
  background: var(--body-color);

  position: absolute;
  left: 0;
  bottom: -1.5rem;

  transition: width 0.2s;
}

nav ul li a:hover::after,
nav ul li a.active::after {
  width: 100%;
}

nav .menu {
  opacity: 0;
  visibility: hidden;
  top: -20rem;
  transition: 0.2s;
}

.title-menu {
  color: var(--body-color);
  font-size: var(--subtitle-font-size);
}

nav .menu ul {
  display: none;
}

/* Mostrar menu */
nav.show .menu {
  opacity: 1;
  visibility: visible;

  background: var(--brand-blue);

  height: 100vh;
  width: 100vw;

  position: fixed;
  top: 0;
  left: 0;

  display: grid;
  place-content: center;
}

nav.show .menu ul {
  display: grid;
}

nav.show ul.grid {
  gap: 4rem;
}

nav.show .menu .button {
  background-color: var(--body-color);
  color: var(--brand-blue);
  font-weight: 700;
}

/* toggle menu */
.toggle {
  color: var(--brand-blue);
  font-size: 1.5rem;
  cursor: pointer;
}

nav .icon-close {
  visibility: hidden;
  opacity: 0;

  position: absolute;
  top: -1.5rem;
  right: 1.5rem;

  transition: 0.2s;
  color: var(--body-color);
}

nav.show div.icon-close {
  visibility: visible;
  opacity: 1;
  top: 1.5rem;
}

/*====  HOME ============================ */
#home {
  overflow: hidden;
  height: 100%;
}

#home .container {
  margin: 0;
}

#home .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: center;
}

#home .text .title span {
  color: var(--brand-blue-light);
}

#home .text p {
  margin-bottom: var(--margin);
}

#home .pulse {
  padding: 20px 30px;
  -webkit-animation: pulse 1s ease infinite;
  animation: pulse 1s ease infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.1);
  }
  50% {
    -webkit-transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1);
  }
}

/*====  SOBRE ============================ */

#about p {
  margin-bottom: var(--margin);
}

#about p span {
  color: var(--brand-blue);
  font-weight: 700;
}

#about img {
  margin-bottom: var(--margin);
}

/*====  SAIBA COMO ============================ */
#how .header .paragraph {
  text-align: center;
  color: var(--gray-paragraph);
  margin-bottom: var(--margin);
}

#how .cards {
  display: flex;
  align-items: center;
  flex-direction: column;

  gap: 2rem;
}

#how .card {
  height: 19rem;
  width: 16rem;
  border-radius: var(--radius);
  background-color: #d9d9d9;

  margin-top: 4rem;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#how .card img {
  position: absolute;
  top: -8rem;
}

#how .card .details {
  height: 75%;
  text-align: center;
  padding: 1rem;
}

#how .card .details h2 {
  font-size: 1.5rem;
}

#how .card .details p {
  color: var(--brand-blue);
  font-size: 1rem;
}

#how .details-check {
  margin-bottom: var(--margin);
}

/*====  PERGUNTAS FREQUENTES ============================ */
#faq .cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

#faq .card {
  background-color: #ffffff;
  padding: 1rem;
  width: 20rem;
}

#faq .card .image {
  display: flex;
  height: 100%;
  padding: 1rem 0 1rem 0;
}

#faq .card .image img {
  width: 2.5rem;
}

#faq .card .details h2 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

#faq .card .details p {
  font-size: 0.8rem;
}

/*====  FOOTER ============================ */
footer {
  background: var(--brand-blue);
}

footer.section {
  padding: 4rem 0;
}

footer img {
  width: 10rem;
}

footer h2 {
  font-size: 1rem;
  color: #ffffff;
  font-weight: 400;
}

/* Back to top */
.back-to-top {
  background: var(--base-color);
  color: var(--text-color-light);

  position: fixed;
  right: 1rem;
  bottom: 1rem;

  padding: 0.5rem;
  clip-path: circle();

  font-size: 1.5rem;
  line-height: 0;

  visibility: hidden;
  opacity: 0;

  transition: 0.3s;
  transform: translateY(100%);
}

.back-to-top.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

@media (min-width: 900px) {
  .wrapper {
    width: min(55rem, 100%);
  }

  /* image */
  .image img {
    height: 80%;
    width: 25rem;
  }

  /* HOME */
  #home .wrapper {
    background-color: red;
    height: 30rem;

    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
  }
 

  #home .text {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    width: 30rem;
    text-align: left;
  }

  #home .image img{
    margin-top: var(--margin);
  } 

  #home .text .button{
    display: flex;
    width: 22rem;
    align-items: center;
    justify-content: center;
  }

  /* ABOUT */

  #about div {
    display: flex;
    flex-direction: row-reverse;
  }

  #about .header {
    display: flex;
    flex-direction: column;
  }

  /* MOTIVOS */
  #motivos div {
    display: flex;
  }

  #motivos .header {
    display: flex;
    flex-direction: column;
  }

  /* FAQ */
  #how .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  #faq .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1100px) {
  .wrapper {
    width: min(80rem, 100%);
  }
  /* navigation */
  nav .menu {
    opacity: 1;
    visibility: visible;
    top: 0;
  }

  nav .menu ul {
    display: flex;
    gap: 2rem;
  }

  nav .menu ul li a.title {
    font: 400 1rem var(--body-font);
    -webkit-font-smoothing: antialiased;
  }

  nav .menu ul li a.title.active {
    font-weight: bold;
    -webkit-font-smoothing: auto;
  }

  nav .icon-menu {
    display: none;
  }
}
